/* ============================================================================
   LOGIN WINDOW STYLES
   ============================================================================ */

/* Login Window - Classes */
QWidget[class="LoginWindowBg"] {
    background-color:rgb(116, 19, 186);
}

QPushButton[class="authButton"] {
    color: white;
    border-radius: 25px;
}

QLineEdit[class="authInput"]{
    padding:12px;
    border-radius:5px;
    background-color:rgb(231, 222, 222);
    color:black;
    border: .5px solid black;
}

/* Login Window - IDs */
#loginform {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 0px solid black;
}

#login_form_header {
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: arial;
    margin-top: 20px;
    border:0px solid black;
}

#login_form_input_widget {
    border: 0px solid black;
}

#login_form_btn_widget{
    border: 0px solid black;
}

#login_btn{
    background-color:rgb(165, 62, 221);
    font-weight:bold;
    
}
#login_btn::hover{
    background-color:rgb(86, 5, 130);
    font-weight:bold;
}


#register_btn{
    background-color:rgb(28, 27, 27);
    font-weight:bold;
}
#register_btn::hover{
    background-color:rgb(90, 87, 87);
    font-weight:bold;
}
